body {
  background-color: rgb(253, 252, 253);
}

.t-bar,
.illust,
.toolbar,
.img-pp,
.description,
.but1,
.but,
.mask,
.vector9,
.imar,
.imag,
.footer,
.grid-medd {
  display: none;
}

.menu-med {
  display: block;
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  padding: 3px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
}

.all-about {
  display: flex;
  align-items: center;
  padding: 0 0;
  gap: 24px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 70%;
}

.all-about > a {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.icon-med {
  width: 22px;
  height: 18px;
}

.john-med {
  width: 92px;
  height: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 10%;
}

.headline {
  width: 100%;
  height: 760px;
  position: absolute;
  top: 0;
}

.illust-med {
  display: block;
  background-image: url(./images/Illustration-header.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 59.74%;
  right: 0;
  top: 7.3%;
  bottom: -11.63%;
}

.head-med {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 192px 0;
  gap: 24px;
  position: absolute;
  width: 566px;
  height: 739px;
  left: 10%;
  top: 72px;
}

.title-hey {
  font-size: 72px;
  line-height: 82px;
  width: 566px;
  height: 160px;
  top: 192px;
}

.sub-t {
  width: 566px;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  top: 390px;
}

.txt {
  width: 566px;
  height: 123px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  position: absolute;
  top: 434px;
}

.ulul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: 394px;
  left: 36px;
}

.myrr {
  left: 15%;
  top: 1030px;
}

.blackline {
  left: 40%;
  width: 40%;
  height: 4px;
  top: 1090px;
}

.title-med {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 6%;
  position: absolute;
  width: 70%;
  height: 448px;
  left: 15%;
  right: 15%;
  top: 1200px;
}

.img-med {
  display: block;
  width: 57%;
  height: 448px;
}

.multi {
  width: 448px;
  height: 48px;
  font-size: 40px;
  line-height: 52px;
}

.daily {
  width: 36%;
  height: 140px;
  font-size: 20px;
  line-height: 28px;
  position: absolute;
  top: 65px;
}

.languages {
  top: 220px;
}

.but2 {
  position: absolute;
  bottom: 80px;
  width: 150px;
  height: 48px;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.but2:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

div#frams {
  position: absolute;
  top: 1680px;
  width: 70%;
  left: 15%;
  right: 15%;
  height: 890px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 20px;
}

.but3 {
  display: block;
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.daily1 {
  width: 80%;
}

.grid-item2 > h2,
.grid-item5 > h2,
.grid-item3 > h2,
.grid-item6 > h2 {
  display: none;
}

.grid-item2 > div > h2,
.grid-item5 > div > h2,
.grid-item3 > div > h2,
.grid-item6 > div > h2 {
  display: block;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  position: relative;
  width: 295px;
  height: 81px;
  left: 24px;
  top: 100px;
}

.grid-item1,
.grid-item4 {
  background-image: url(./images/Img\ Placeholder2.png);
}

.grid-item2,
.grid-item5 {
  background-image: url(./images/Img\ Placeholder3.png);
}

.grid-item3,
.grid-item6 {
  background-image: url(./images/Img\ Placeholder4.png);
}

.languagess {
  bottom: 10px;
}

.about {
  position: absolute;
  width: 100%;
  height: 1100px;
  left: 0;
  top: 2600px;
  background: #1c1a19;
}

.about-med {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 130px 0;
  gap: 24px;
  position: absolute;
  width: 37%;
  height: 400px;
  left: 15%;
  top: 0;
}

.abouts {
  width: 566px;
  height: 78px;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  position: absolute;
  top: 60px;
  left: 5%;
}

.about > div > p {
  width: 80%;
  height: 148px;
  font-size: 20px;
  line-height: 32px;
  position: absolute;
  top: 190px;
  left: 5%;
}

.about > div > button {
  width: 161px;
  height: 48px;
  position: absolute;
  top: 480px;
  left: 5%;
}

.vector12 {
  display: block;
  position: absolute;
  top: 600px;
  width: 70%;
  left: 15%;
  right: 15%;
}

.ord {
  top: 700px;
  width: 70%;
  left: 15%;
  right: 15%;
  display: flex;
  flex-direction: row;
  gap: 20%;
  text-align: left;
}

.mask2 {
  background-image: url(./images/Frame.png);
  width: 40%;
  height: 352.38px;
  position: absolute;
  left: 61%;
  right: -99.81%;
  top: 90px;
}

.finish {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 3940px;
  left: 20px;
}

.finishing {
  top: 0;
  width: 100%;
  height: 700px;
}

.last-r {
  position: absolute;
  top: 50px;
  width: 20%;
  left: 20%;
  height: 200px;
}

.finishing > div > p {
  text-align: left;
}

.finishing > div > form {
  position: absolute;
  top: 50px;
  width: 50%;
  right: 10%;
}

#nam {
  width: 600px;
}

.contn {
  width: 600px;
}

.txt-area {
  width: 600px;
}

.in-touch {
  position: absolute;
  left: 110px;
  top: 320px;
}

.social2 {
  display: block;
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  width: 20%;
  height: auto;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 25px;
  left: 40%;
  right: 40%;
}

.vector13 {
  display: block;
  position: absolute;
  bottom: 90px;
  width: 98%;
  left: 1%;
  right: 1%;
}
