@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@300&display=swap");

.menu-p {
  width: 375px;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  left: -100%;
  top: 0;
  bottom: 57px;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.menu-p.active {
  width: 375px;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  bottom: 57px;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.toolbar {
  position: absolute;
  width: 375px;
  height: 46px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.menu-Ru {
  width: 327px;
  height: 2px;
  position: absolute;
  left: 35px;
  background: #6f6c6b;
}

.menu-r {
  position: absolute;
  width: 462px;
  height: 628px;
  left: -12px;
  top: 92px;
  list-style: none;
}

.menu-r a {
  color: white;
  text-decoration: none;
}

.menu-17 {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
  border: 2px solid #67798e;
}

.menu-Ik {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff5e1;
}

.menu-med,
.illust-med,
.img-med,
.vector12,
.social2,
.vector13,
.title-med,
.but3 {
  display: none;
}

.t-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.john-doe {
  position: absolute;
  font-family: "Crete Round", serif;
  width: 54px;
  height: 15px;
  right: 280px;
  top: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.icon-Menu {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 21px;
  top: 13px;
}

.illust {
  background-image: url("./images/Illustration.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: 60.37%;
  right: 0;
  top: 30%;
  bottom: 0.1%;
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 590px;
  left: 0;
  top: 46px;
  background: #1c1a19;
}

.title-hey {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  position: absolute;
  width: 327px;
  height: 124px;
  top: 90px;
  left: 24px;
}

.sub-t {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  position: absolute;
  width: 327px;
  height: 27px;
  top: 256px;
  left: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  width: 327px;
  height: 123px;
  top: 295px;
  left: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.ulul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: 430px;
  left: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 200px;
  left: 0;
  top: 1330px;
}

.multi {
  width: 327px;
  height: 10px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.daily {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.languages {
  list-style: none;
  position: absolute;
  top: 315px;
  width: 297px;
  height: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 5px;
}

.languages > li {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  background: #fff;
}

.frams {
  position: absolute;
  top: 1800px;
  width: 340px;
  height: 2600px;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item3 {
  background-image: url(./images/Img\ Placeholders.png);
  font-size: 30;
  height: auto;
  border: none;
  position: relative;
}

.but {
  position: absolute;
  bottom: 0;
  width: 340px;
  height: 48px;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.but3 {
  display: none;
}

.but:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.but1 {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 48px;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.but1:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.blackline {
  position: absolute;
  align-self: center;
  left: 29px;
  top: 1100px;
}

.img-pp {
  position: absolute;
  align-self: center;
  left: 24px;
  top: 1200px;
}

.img-med {
  display: none;
}

.myrr {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  position: relative;
  width: 327px;
  height: 83px;
  left: 24px;
  top: 970px;
}

.proff {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  width: 295px;
  height: 81px;
  left: 24px;
  top: 100px;
}

.daily1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  position: relative;
  width: 295px;
  height: 81px;
  left: 24px;
  top: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languagess {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 65px;
  left: 24px;
  width: auto;
  height: 60px;
}

.languagess > li {
  box-sizing: border-box;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  width: auto;
  height: 40px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 1901px;
  left: 0;
  top: 4500px;
  background: #1c1a19;
}

.about > div > p {
  width: 327px;
  height: 148px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  position: absolute;
  top: 200px;
  left: 24px;
  right: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about > div > button {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border: none;
  width: 161px;
  height: 48px;
  position: absolute;
  top: 390px;
  background: #ff6b00;
}

.about > div > button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.abouts {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  position: absolute;
  width: 327px;
  height: 124px;
  top: 90px;
  left: 24px;
}

.ord {
  position: absolute;
  top: 800px;
  text-align: center;
}

.ord > li {
  margin: 40px 0;
}

.ordered {
  text-align: unset;
}

.ordered > li {
  margin: 30px 0;
  list-style: none;
  width: auto;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.cir {
  width: 25px;
  height: 25px;
}

.ang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.angs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.angss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.hed {
  width: auto;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.finishing {
  position: absolute;
  width: 375px;
  height: 844px;
  left: 0;
  top: 6640px;
  border: #fff;
}

.last-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 40px;
  width: 320px;
  height: 200px;
  position: absolute;
  top: 80px;
  left: 24px;
}

.last-r1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 15px;
  left: 98px;
}

.in-touch {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  width: 131px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
}

.in-touch:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#acts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.error {
  color: #ff6b00;
  font-weight: bold;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: #f4f5f7;
}

#nam {
  width: 327px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#nams {
  width: 327px;
  height: 48px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contn {
  height: 51px;
  width: 327px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  border: #fff5e1;
  background-color: #979493;
}

.txt-area {
  background: #fbf8f7;
  width: 327px;
  height: 114px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.footer {
  position: absolute;
  width: 375px;
  height: 77px;
  left: 0;
  top: 7490px;
}

.imag {
  position: absolute;
  left: 120px;
  bottom: 15px;
  width: 135px;
  height: 5px;
}

.imar {
  position: absolute;
  width: 100%;
  top: 5px;
  height: 5px;
  background: #dfe1e6;
}

.mask {
  background-image: url("./images/Group.png");
  position: absolute;
  background-repeat: no-repeat;
  top: 17%;
  bottom: 0.1%;
  color: #fff;
}

.vector9 {
  position: absolute;
  top: 650px;
}

.h-popD > h3 {
  display: none;
}

.pop-upD {
  display: none;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  position: fixed;
  width: 343px;
  height: 110vh;
  top: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  overflow: scroll;
}

.pop-upD.active-modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  position: fixed;
  width: 343px;
  height: 110vh;
  top: 20px;
  background: #fff;
  border: 1px solid #dfe1e6;
  overflow: scroll;
}

.pop-upD > div {
  display: none;
}

.modal-1 {
  display: none;
}

.h-popD {
  width: 311px;
  height: 82px;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 15px;
  padding-bottom: 20px;
}

.h-popD > h2 {
  width: 259px;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #172b4d;
  top: 2px;
}

.h-popD > img {
  width: 14px;
  height: 14px;
  position: relative;
  top: 34px;
}

.pacDD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 90%;
  height: 20px;
  list-style: none;
  position: relative;
  left: 15px;
}

.pacD > ul > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: auto;
  height: 20px;
  border: 1px solid #979493;
}

.details-popD {
  height: 100%;
}

.details-popD > img {
  width: 311px;
  height: 220px;
  padding: 10px;
}

.pop-B {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 311px;
  height: 288px;
}

.details-popD > div > p {
  width: 311px;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  position: relative;
  left: 11px;
}

.btn-popD {
  width: 311px;
  height: 56px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 15%;
  left: 11px;
}

.btn-pop {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  position: relative;
  height: 48px;
  border-color: #f55800;
  background: #f55800;
}

.btn-pop:hover {
  background: #fff;
  color: #f55800;
}

.btn-pop2 {
  width: 134px;
}

.btn-pop3 {
  width: 159px;
}

@media (min-width: 768px) {
  body {
    background-color: rgb(253, 252, 253);
  }

  .t-bar,
  .illust,
  .toolbar,
  .img-pp,
  .description,
  .but1,
  .but,
  .mask,
  .vector9,
  .imar,
  .imag,
  .footer,
  .img-medm {
    display: none;
  }

  .menu-med {
    display: block;
    display: flex;
    flex-direction: row;
    background: #3c3a39;
    padding: 3px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
  }

  .all-about {
    display: flex;
    align-items: center;
    padding: 0 0;
    gap: 24px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 70%;
  }

  .all-about > a {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .icon-med {
    width: 22px;
    height: 18px;
  }

  .john-med {
    width: 92px;
    height: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 10%;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  .headline {
    width: 100%;
    height: 760px;
    position: absolute;
    top: 0;
  }

  .illust-med {
    display: block;
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 58.74%;
    right: 0;
    top: 7.3%;
    bottom: -11.63%;
    animation: fadein 8s;
    -webkit-animation: fadein 8s;
    -moz-animation: fadein 8s;
    -o-animation: fadein 8s;
    -ms-animation: fadein 8s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .head-med {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 192px 0;
    gap: 24px;
    position: absolute;
    width: 600px;
    height: 739px;
    left: 8%;
    top: 72px;
  }

  .title-hey {
    font-size: 72px;
    line-height: 82px;
    width: 440px;
    height: 180px;
    top: 192px;
    animation: fadein 3s linear;
    -webkit-animation: fadein 3s linear;
    -moz-animation: fadein 3s linear;
    -o-animation: fadein 3s linear;
    -ms-animation: fadein 3s linear;
  }

  .sub-t {
    width: 566px;
    height: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    top: 405px;
    animation: fadein 6s linear;
    -webkit-animation: fadein 6s linear;
    -moz-animation: fadein 6s linear;
    -o-animation: fadein 6s linear;
    -ms-animation: fadein 6s linear;
  }

  .txt {
    width: 500px;
    height: 153px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    position: absolute;
    top: 454px;
    animation: fadein 9s linear;
    -webkit-animation: fadein 9s linear;
    -moz-animation: fadein 9s linear;
    -o-animation: fadein 9s linear;
    -ms-animation: fadein 9s linear;
  }

  .ulul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-repeat: no-repeat;
    top: 394px;
    left: 36px;
  }

  .myrr {
    left: 8%;
    top: 1030px;
    align-items: left;
  }

  .blackline {
    float: right;
    width: 40%;
    height: 4px;
    top: 1090px;
    left: 52%;
  }

  .title-med {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8%;
    position: absolute;
    width: 84%;
    height: 448px;
    left: 8%;
    right: 8%;
    top: 1200px;
  }

  .title-tree {
    width: 40%;
  }

  .img-med {
    display: block;
    width: 60%;
    height: 448px;
  }

  .multi {
    width: 95%;
    height: 48px;
    font-size: 40px;
    line-height: 52px;
  }

  .daily {
    width: 95%;
    height: 50px;
    font-size: 20px;
    line-height: 28px;
    top: 40px;
  }

  .languages {
    top: 275px;
  }

  .but2 {
    position: absolute;
    bottom: 50px;
    width: 150px;
    height: 48px;
    background: #ff6b00;
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
    color: #fff;
    transition-duration: 3s;
  }

  .but2:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .frams {
    position: absolute;
    top: 1680px;
    width: 1090px;
    left: 15%;
    height: 890px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 24px;
  }

  .but3 {
    height: 58px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #ff6b00;
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
    color: #fff;
    transition-duration: 3s;
  }

  .but3:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .daily1 {
    width: 80%;
  }

  .grid-item3 > button {
    display: none;
  }

  .grid-item3:hover .grid-medd3 {
    display: none;
  }

  .grid-item3:hover .but3 {
    display: inline;
  }

  .proff {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    align-items: center;
    color: #fff;
    position: relative;
    width: 295px;
    height: 81px;
    left: 24px;
    top: 100px;
  }

  .grid-item3 {
    background-image: url(./images/Img\ Placeholder4.png);
  }

  .languagess {
    bottom: 10px;
  }

  .about {
    position: absolute;
    width: 100%;
    height: 1100px;
    left: 0;
    top: 2600px;
    background: #1c1a19;
  }

  .about-med {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 0;
    gap: 24px;
    position: absolute;
    width: 37%;
    height: 400px;
    left: 15%;
    top: 0;
  }

  .abouts {
    width: 566px;
    height: 78px;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    position: absolute;
    top: 60px;
    left: 5%;
  }

  .about > div > p {
    width: 80%;
    height: 148px;
    font-size: 20px;
    line-height: 32px;
    position: absolute;
    top: 190px;
    left: 5%;
  }

  .about > div > button {
    width: 161px;
    height: 48px;
    position: absolute;
    top: 480px;
    left: 5%;
    transition-duration: 3s;
  }

  .vector12 {
    display: block;
    position: absolute;
    top: 600px;
    width: 70%;
    left: 15%;
    right: 15%;
  }

  .ord {
    top: 700px;
    width: 70%;
    left: 15%;
    right: 15%;
    display: flex;
    flex-direction: row;
    gap: 20%;
    text-align: left;
  }

  .mask2 {
    background-image: url(./images/Frame.png);
    width: 40%;
    height: 352.38px;
    position: absolute;
    left: 61%;
    right: -99.81%;
    top: 90px;
  }

  .finish {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 3940px;
    left: 20px;
  }

  .finishing {
    top: 0;
    width: 100%;
    height: 700px;
  }

  .last-r {
    position: absolute;
    top: 50px;
    width: 25%;
    left: 10%;
    height: 200px;
  }

  .finishing > div > p {
    text-align: left;
  }

  .finishing > div > form {
    position: absolute;
    top: 50px;
    width: 50%;
    right: 5%;
  }

  #nam {
    width: 800px;
  }

  #nams {
    width: 800px;
  }

  .contn {
    width: 800px;
  }

  .txt-area {
    width: 800px;
    border: #fbf8f7;
  }

  .in-touch {
    position: absolute;
    right: 84%;
    top: 320px;
    transition-duration: 3s;
  }

  .social2 {
    display: block;
    display: flex;
    gap: 25px;
    list-style-type: none;
    padding: 0;
    width: 20%;
    height: auto;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 25px;
    left: 45%;
  }

  .vector13 {
    display: block;
    position: absolute;
    bottom: 90px;
    width: 98%;
    left: 1%;
    right: 1%;
  }

  .pop-BG {
    width: 100%;
    height: 100vh;
    position: fixed;
    filter: blur(8px) !important;
    -webkit-filter: blur(8px);
    z-index: 4000;
  }

  .pop-upD {
    display: none;
    width: 1156px;
    height: 631px;
    position: fixed;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    left: 9%;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .pop-upD > div {
    display: none;
  }

  .modal-1 {
    display: none;
  }

  .pop-upD.active-modal {
    display: block;
    width: 1156px;
    height: 631px;
    position: fixed;
    align-content: center;
    margin: auto;
    left: 12%;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .h-popD img {
    cursor: pointer;
  }

  .h-popD {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 60px;
    width: 100%;
    height: 40px;
    position: relative;
    left: 24px;
  }

  .h-popD > h2 {
    display: none;
  }

  .h-popD > h3 {
    display: block;
    width: 90%;
    height: 20px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    color: #172b4d;
    position: absolute;
    top: 1px;
  }

  .h-popD > img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 90%;
  }

  .pacD > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 380px;
    height: 30px;
    list-style: none;
    position: relative;
    top: 23px;
    left: 27px;
  }

  .pacD > ul > li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3c3a39;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: auto;
    height: 30px;
    border: 1px solid #979493;
  }

  .details-popD {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
    left: 24px;
    top: 60px;
  }

  .details-popD > img {
    width: 65%;
    height: 448px;
  }

  .details-popD > div {
    width: 35%;
    height: 448px;
  }

  .details-popD > div > p {
    width: 424px;
    height: 336px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .btn-popD {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    bottom: 0;
    left: 3px;
    width: 400px;
  }

  .btn-pop {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    height: 48px;
    border-color: #f55800;
    background: #f55800;
  }

  .btn-pop2 {
    width: 134px;
  }

  .btn-pop2:hover {
    background: #fff;
  }

  .btn-pop3 {
    width: 159px;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {
  body {
    background: rgb(253, 253, 253);
  }

  .img-med > img {
    display: none;
  }

  .last-r {
    width: 25%;
    left: 5%;
    height: 200px;
  }

  .finishing > div > form {
    position: absolute;
    top: 50px;
    width: 40%;
    right: 5%;
  }

  #nam {
    width: 600px;
  }

  .contn {
    width: 600px;
  }

  .txt-area {
    width: 600px;
    border: #f4f5f7;
  }

  .title-tree {
    width: 50%;
  }

  .img-med {
    display: block;
    width: 40%;
    height: 448px;
    left: 5px;
  }

  .languages {
    top: 315px;
  }

  .but2 {
    bottom: 10px;
  }

  .img-medm {
    display: block;
    position: absolute;
    left: 1%;
    height: auto;
    top: 40px;
  }

  .multi {
    width: 90%;
    left: 10px;
  }

  .daily {
    width: 90%;
    left: 10px;
  }
  .title-med { gap: 15%; }
  .about > div > button { top: 495px; }
}
