@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@300&display=swap');

.toolbar {
  position: absolute;
  width: 375px;
  height: 46px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.tbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.john-doe {
  position: absolute;
  font-family: 'Crete Round', serif;
  width: 54px;
  height: 15px;
  right: 280px;
  top: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
}

.icon-Menu {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 21px;
  top: 13px;
}

.illust {
  background-image: url('./images/Illustration.svg');
  position: absolute;
  background-repeat: no-repeat;
  left: 60.37%;
  right: -96.24%;
  top: 30%;
  bottom: 0.1%;
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 590px;
  left: 0;
  top: 46px;
  background: #1c1a19;
}

.title-hey {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  position: absolute;
  width: 327px;
  height: 124px;
  top: 90px;
  left: 24px;
}

.sub-t {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  position: absolute;
  width: 327px;
  height: 27px;
  top: 256px;
  left: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  width: 327px;
  height: 123px;
  top: 295px;
  left: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #fff;
}

.ulul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: 430px;
  left: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 200px;
  left: 0;
  top: 1330px;
}

.multi {
  width: 327px;
  height: 10px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.daily {
  width: 327px;
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.languages {
  list-style: none;
  position: absolute;
  top: 315px;
  width: 297px;
  height: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 5px;
}

.g-item {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  background: #fff;
}

div#frams {
  position: absolute;
  top: 1800px;
  width: 340px;
  height: 2600px;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item {
  background-image: url(./images/Img\ Placeholders.png);
  font-size: 30;
  height: auto;
  border: none;
  position: relative;
}

.but {
  position: absolute;
  bottom: 0;
  width: 340px;
  height: 48px;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.but:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.but1 {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 48px;
  background: #ff6b00;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
}

.but1:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.blackline {
  position: absolute;
  align-self: center;
  left: 29px;
  top: 1100px;
}

.img-pp {
  position: absolute;
  align-self: center;
  left: 24px;
  top: 1200px;
}

.myrr {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  position: relative;
  width: 327px;
  height: 83px;
  left: 24px;
  top: 970px;
}

.prof {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  width: 295px;
  height: 81px;
  left: 24px;
  top: 100px;
}

.daily1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  position: relative;
  width: 295px;
  height: 81px;
  left: 24px;
  top: 100px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languagess {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 65px;
  left: 24px;
  width: auto;
  height: 60px;
}

.g-item1 {
  box-sizing: border-box;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  width: auto;
  height: 40px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 1901px;
  left: 0;
  top: 4500px;
  background: #1c1a19;
}

.about > div > p {
  width: 327px;
  height: 148px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  position: absolute;
  top: 200px;
  left: 24px;
  right: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about > div > button {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border: none;
  width: 161px;
  height: 48px;
  position: absolute;
  top: 390px;
  background: #ff6b00;
}

.about > div > button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

.abouts {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  position: absolute;
  width: 327px;
  height: 124px;
  top: 90px;
  left: 24px;
}

.ord {
  position: absolute;
  top: 800px;
  text-align: center;
}

.ord > li {
  margin: 40px 0;
}

.ordered {
  text-align: unset;
}

.ordered > li {
  margin: 30px 0;
  list-style: none;
  width: auto;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.cir {
  width: 25px;
  height: 25px;
}

.ang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.angs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.angss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: auto;
  height: 25.46px;
}

.hed {
  width: auto;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.finishing {
  position: absolute;
  width: 375px;
  height: 844px;
  left: 0;
  top: 6640px;
  border: #fff;
}

.last-r {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 24px;
  right: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  width: auto;
  height: auto;
  background-color: #6e635c;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 40px;
  left: 80px;
}

.in-touch {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border: none;
  width: 161px;
  height: 48px;
  background: #ff6b00;
}

.in-touch:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
}

#acts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 30px;
  right: 30px;
}

.imag {
  position: absolute;
  left: 105px;
  bottom: 20px;
}

.mask {
  background-image: url('./images/Group.png');
  position: absolute;
  background-repeat: no-repeat;
  left: 57.37%;
  right: -96.24%;
  top: 17%;
  bottom: 0.1%;
  color: #fff;
}

.vector9 {
  position: absolute;
  top: 650px;
}
